<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">Trung tâm <span class="text-primary">Giới thiệu</span></h1>
                        <p class="mb-0">
                            Chuyên cung cấp laptop, linh kiện và phụ kiện chính hãng với giá tốt. Cam kết chất lượng, đáp ứng mọi nhu cầu học tập, làm việc và giải trí.
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/img/about-icon-1.png" class="img-fluid w-50 h-50" alt="Icon">
                                </div>
                                <h5 class="mb-3">Tầm Nhìn</h5>
                                <p class="mb-0">
                                    Trở thành hệ thống bán laptop uy tín hàng đầu.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/img/about-icon-2.png" class="img-fluid h-50 w-50" alt="Icon">
                                </div>
                                <h5 class="mb-3">Sứ Mệnh</h5>
                                <p class="mb-0">
                                    Mang đến sản phẩm chất lượng, giá hợp lý và dịch vụ tận tâm
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="text-item my-4">
                        Chúng tôi cam kết mang đến trải nghiệm mua sắm tốt nhất với đa dạng sản phẩm từ laptop văn phòng, laptop gaming đến linh kiện như RAM, SSD, card đồ họa và các phụ kiện công nghệ khác.
                    </p>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="text-center rounded bg-secondary p-4">
                                <h1 class="display-6 text-white">17</h1>
                                <h5 class="text-light mb-0">
                                    Năm kinh nghiệm
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rounded">
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Sản phẩm chính hãng, bảo hành uy tín</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Giá cả cạnh tranh, nhiều ưu đãi</p>
                                <p class="mb-2">
                                    <i class="fa fa-check-circle text-primary me-1"></i> Hỗ trợ kỹ thuật và nâng cấp tận nơi
                                </p>
                                <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i> Giao hàng nhanh chóng trên toàn quốc</p>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <a href="#" class="btn btn-primary rounded py-3 px-5">Tìm hiểu thêm</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="d-flex align-items-center">
                                <img src="~/img/attachment-img.jpg" class="img-fluid rounded-circle border border-4 border-secondary" style="width: 100px; height: 100px;" alt="Image">
                                <div class="ms-4">
                                    <h4>
                                        Nguyễn Văn A
                                    </h4>
                                    <p class="mb-0">Nhà sáng lập hệ thống bán laptop & linh kiện</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="https://plus.unsplash.com/premium_photo-1669686966146-da8d2400de46?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                    <div class="img-2">
                        <img src="https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg" class="img-fluid rounded w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->