<div class="modal fade" id="cartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="cartModalMessage">
                ...
            </div>
            <div class="modal-footer">
                <a href="/Cart" class="btn btn-primary">Xem giỏ hàng</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tiếp tục mua</button>
            </div>
        </div>
    </div>
</div>

