<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <partial name="_M_Styles" />
</head>
<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">

        <partial name="_M_Spinner" />

        <partial name="_M_Sidebar" />

        <!-- Content Start -->
        <div class="content">
            <partial name="_M_Header" />
            
            
        </div>

        <partial name="_M_Footer" />

    </div>
    <partial name="_M_Scripts" />
</body>
</html>